# Supabase project credentials
# Ambil dari: Supabase Dashboard -> Project Settings -> API
# Copy file ini menjadi .env lalu isi nilainya

VITE_SUPABASE_URL=https://cbstzzuohrhvkmsufqle.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_ZXk-oW8fcDWWMtfWVA0Xqg_F3J3ZRfG
 